{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <title>myTimeTable</title>
        <meta charset="utf_8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/templatemo-kind-heart-charity.css' %}">
    </head>
    <body class="statut">
        <header>
            <nav class="navbar navbar-expand-lg bg-light shadow-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <span>
                           <img src="{% static 'img/timetable.png' %}" alt="" style="height: 65px; border-radius: 50px;">
                            <small>myTimeTable</small>
                        </span>
                    </a>
        
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#top">Un truc</a>
                            </li>
        
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">Un truc</a>
                            </li>
        
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">Un truc</a>
                            </li>
        
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_6">Un truc</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        
        </header>