{% extends 'base/base.html' %}

{% block 'title' %}
Forgot Password
{% endblock %}

{% block 'main' %}
<div class="row">
    <div class="col col-12 col-lg-6 mx-auto">
        <div class="card shadow rounded">
            <div class="card-header text-center">
                <h3>New Password</h3>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if error %}
                    <div class="my-3 alert alert-danger text-center py-2">
                        <p class="my-0"> {{ error }} </p>
                    </div>
                    {% endif %}
                    {% if success %}
                    <div class="my-3 alert alert-success text-center py-2">
                        <p class="my-0"> {{ success }} </p>
                    </div>
                    {% endif %}
                    <div class="my-3">
                        <label for="password" class="form-label">New Password:</label>
                        <input type="password" name="password" id="password" class="form-control form-control-lg" required
                            placeholder="Enter a new password">
                    </div>
                    <div class="my-3">
                        <label for="confirm_password" class="form-label">Confirm Your New Password:</label>
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control form-control-lg" required
                            placeholder="Confirm your new password">
                    </div>
                    <div class="my-3 text-center">
                        <button class="btn btn-primary w-50 mx-auto">Change Your Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}